#*#
*.aux
*.backup
*.core
*.dSYM
*.dvi
*.gcda
*.log
*.noopt
*.o
*.optimized
*.unsafe
*~
.DS_Store
.cproject
.deps
.gitcheckout
.goutputstream-*
.svn
.project
a.out
core*
strace.out
tags
tags.*
typescript
vgcore*
