*.o
.deps
blockcat61
cat61
files
gather61
ostridecat61
pipeexchange61
pset.tgz
randblockcat61
reordercat61
reverse61
scatter61
scattergather61
slow-blockcat61
slow-cat61
slow-ostridecat61
slow-pipeexchange61
slow-randblockcat61
slow-reordercat61
slow-reverse61
slow-scattergather61
slow-stridecat61
stdio-blockcat61
stdio-cat61
stdio-gather61
stdio-ostridecat61
stdio-pipeexchange61
stdio-randblockcat61
stdio-reordercat61
stdio-reverse61
stdio-scatter61
stdio-scattergather61
stdio-stridecat61
strace.out*
stridecat61
text20meg.txt
